{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_bycategory/waitlist_bulk_actions

    Moodle template for the bulk actions on the waiting list

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * options - Array of courses for the select with id, fullname and if it should be selected by default.

    Example context (json):
    {
        "options": [
            {"id":"108","fullname":"test course 98","selected":true},
            {"id":"109","fullname":"test course 99","selected":false}
        ]
    }
}}
<div class="mt-1 d-inline-block w-100">
    <div class="float-left">
        <span>{{# str}} bulkenrol,enrol_bycategory {{/ str}}: </span>
        <select id="bulk-action" class="select custom-select" name="targetcourseid">
        {{#options}}
            <option value="{{ id }}" {{# selected }}selected{{/ selected}}>{{ fullname }} ({{# str}} courseid,enrol_bycategory {{/ str}}: {{ id }})</option>
        {{/options}}
        </select>
        <select id="bulk-action-enrol" class="select custom-select" name="targetenrolid">

        </select>
        <input id="selectall-submit" type="submit" class="btn btn-primary" value="{{# str}} next {{/ str}}">
    </div>
</div>
